<!DOCTYPE html>
<ion-view view-title="{{loggedIn.username}}">
	<ion-nav-bar class="bar-balanced">
        <ion-nav-buttons side="right">
            <button class="button button-clear button-icon ion-ios-more" ui-sref="tabs.moreInfo()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
	<ion-content>
		<ion-list type="item-text-wrap">
			<ion-item class="item-avatar lessPaddingBottom noBorder">
		      	<img id="bigAv" ng-src="{{loggedIn.avatar}}">
		        <div class="trust">
						<p id="grayedOut">Assigned</p>
						<p id="center">{{loggedIn.requestsAccepted.length}}</p>
					</div>
					<div class="trust">
						<p id="grayedOut">Posted</p>
						<p id="center">{{loggedIn.tasksPosted.length}}</p>
					</div>
		        <div class="trust" ui-sref="tabs.trustedByMP({user: loggedIn.username})">
					<p id="grayedOut">Trusted</p>
					<p id="center">{{loggedIn.trustedBy.length}}</p>
				</div>
				<div class="trust" ui-sref="tabs.trustsMP({user: loggedIn.username})">
					<p id="grayedOut">Trusts</p>
					<p id="center">{{loggedIn.trusts.length}}</p>
				</div>
		    </ion-item>
		    <ion-item class="noBorder" ng-show="loggedIn.settings.myProfile.showName">
		    	<div class="profileName">
					<h2>{{loggedIn.first}} {{loggedIn.last}}</h2>
				</div>
			</ion-item>
			<ion-item id="sec-custom" class="tabs-secondary tabs item-icon-left tabs-balanced noBorder">
				<a class="tab-item" ng-click="setTab('profile')" ng-class="{'active': showing === 'profile'}">Profile</a><a ng-click="setTab('reviews')" class="tab-item" ng-class="{'active': showing === 'reviews'}">Reviews</a><a ng-click="setTab('requests')" class="tab-item" ng-class="{'active': showing === 'requests'}">Assigned</a><a ng-click="setTab('favors')" class="tab-item" ng-class="{'active': showing === 'favors'}">My Posts</a>
			</ion-item>






			<ion-list ng-show="showingTab('profile')">
				<ion-item class="item-divider" ng-show="loggedIn.bio">
			  		<p>Bio</p>
				</ion-item>
				<ion-item class="item-text-wrap" ng-show="loggedIn.bio">
					<p>{{loggedIn.bio}}</p>
				</ion-item>
				<ion-item class="item-divider">
			  		<p>Ratings By Category</p>
				</ion-item>
				<ion-item class="noBorder">
					<p>Overall</p>
					<div star-rating rating-value="rating"></div>
				</ion-item>
				<ion-item class="noBorder">
					<p>Yard Work</p>
					<div star-rating rating-value="yardWorkRating"></div>
				</ion-item>
				<ion-item class="noBorder">
					<p>Labor</p>
					<div star-rating rating-value="laborRating"></div>
				</ion-item>
				<ion-item class="noBorder">
					<p>Pet Care</p>
					<div star-rating rating-value="petCareRating"></div>
				</ion-item>
				<ion-item class="noBorder">
					<p>House Work / Chores</p>
					<div star-rating rating-value="houseWorkRating"></div>
				</ion-item>
				<ion-item class="noBorder">
					<p>Delivery</p>
					<div star-rating rating-value="deliveryRating"></div>
				</ion-item>
				<ion-item class="noBorder">
					<p>Moving / Taxi</p>
					<div star-rating rating-value="movingRating"></div>
				</ion-item>
			</ion-list>




			<ion-list ng-show="showingTab('reviews')">
				<ion-item class="noBorder" ng-show="reviews.length === 0">
					<p>You don't have any reviews!</p>
				</ion-item>
				</ion-item>
				<ion-item ng-repeat="review in reviews">
					<h2 class="reviewLeft">{{review.category}}</h2>
					<p class="reviewRight" ui-sref="tabs.taskDetailMP({taskID: review.taskID})">Favor Description <i class="icon ion-ios-arrow-right"></i></p>
					<div star-rating rating-value="review.rating"></div>
					<p>{{review.review}}</p>
				</ion-item>
			</ion-list>
			<ion-item class="item-divider" ng-show="acceptedRequests.length !== 0 && showingTab('requests')">
		  		<p>Assigned To You</p>
			</ion-item>
			<ion-item class="noBorder" ng-show="showingTab('requests') && openRequests.length === 0 && acceptedRequests.length === 0">
				<p>You don't have any requests!</p>
			</ion-item>




			<ion-list ng-show="showingTab('requests')">
				<ion-item ng-repeat="request in acceptedRequests">
					<div class="requestLeft">
						<h2>{{request.title}}</h2>
						<p>{{request.description}}</p>
					</div>
					<div class="requestRight">
						<button class="button button-balanced button-outline button-small icon ion-ios-chatboxes-outline" ui-sref="tabs.messages({taskID: request._id})"></button><span ng-show="request.newMessages !== 0" id="messageIconR" class="badge badge-assertive">{{request.newMessages}}</span>
					</div>
					<button class="button button-block button-balanced button-small" ng-class="{'button-outline': !completed(request._id)}" ng-click="taskCompleted(request)">{{completedButton(request)}}</button>
				</ion-item>
			</ion-list>
			<ion-item class="item-divider" ng-show="openRequests.length !== 0 && showingTab('requests')">
		  		<p>Pending</p>
			</ion-item>




			<ion-list ng-show="showingTab('requests')">
				<ion-item ng-repeat="request in openRequests" ui-sref="tabs.taskDetailMP({taskID: request._id})">
					<div class="requestHeader">
						<h2>{{request.title}}</h2>
						<p>{{request.description}}</p>
					</div>
					<div class="requestTotal">
						<h3>Requests</h3>
						<p>{{request.requestedBy.length}}</p>
					</div>
				</ion-item>
				<ion-item class="item-divider" ng-show="closedRequests.length !== 0">
			  		<p>Closed</p>
				</ion-item>
				<ion-item ng-repeat="task in closedRequests">
					<div class="requestHeader">
						<h2>{{task.title}}</h2>
						<p>{{task.description}}</p>
					</div>
					<div class="requestTotal">
						<h3>Requests</h3>
						<p>{{task.requestedBy.length}}</p>
					</div>
					<div>
						<h3>Closed</h3>
					</div>
				</ion-item>
				<ion-item class="item-divider" ng-show="expiredRequests.length !== 0">
			  		<p>Expired</p>
				</ion-item>
				<ion-item ng-repeat="task in expiredRequests">
					<div class="requestHeader">
						<h2>{{task.title}}</h2>
						<p>{{task.description}}</p>
					</div>
					<div class="requestTotal">
						<h3>Requests</h3>
						<p>{{task.requestedBy.length}}</p>
					</div>
					<div>
						<h3>Expired</h3>
					</div>
				</ion-item>
			</ion-list>





			<ion-list ng-show="showingTab('favors')">
				<ion-item class="noBorder" ng-show="paid.length === 0 && tasks.length === 0">
					<p>You haven't posted any favors!</p>
				</ion-item>
				<ion-item class="item-divider" ng-show="tasks.length !== 0">
			  		<p>Pending</p>
				</ion-item>
				<ion-item ng-repeat="task in tasks">
					<div class="requestHeader">
						<h2>{{task.title}}</h2>
						<p>{{task.description}}</p>
					</div>
					<div class="requestTotal" ng-show="!taskAssigned(task)">
						<h3>Requests</h3>
						<p>{{task.requestedBy.length}}</p>
					</div>
					<div class="requestTotal" ng-show="taskAssigned(task)">
						<button class="button button-balanced button-outline button-small icon ion-ios-chatboxes-outline" ui-sref="tabs.messages({taskID: task._id})"></button><span ng-show="task.newMessages !== 0" id="messageIcon" class="badge badge-assertive">{{task.newMessages}}</span>
					</div>
					<button ui-sref="tabs.requesters({taskID: task._id})" class="button button-block button-small button-balanced button-outline" ng-show="!taskAccepted(task)">Assign Favor</button>
					<div class="assignedTo">
						<h3 ng-show="taskAccepted(task)">Assigned To: {{task.assignedTo}}</h3>
						<h3 ng-show="!completed(task) && taskAccepted(task)">Waiting for Favor to be completed!</h3>
					</div>
					<button class="button button-block button-small button-balanced button-outline" ui-sref="tabs.pay({taskID: task._id})" ng-show="completed(task)">Pay & Review</button>
				</ion-item>
				<ion-item class="item-divider" ng-show="paid.length !== 0">
			  		<p>Completed</p>
				</ion-item>
				<ion-item ng-repeat="task in paid">
					<div class="requestHeader">
						<h2>{{task.title}}</h2>
						<p>{{task.description}}</p>
					</div>
					<div class="requestTotal">
						<h3>Requests</h3>
						<p>{{task.requestedBy.length}}</p>
					</div>
					<button class="button button-block button-small button-balanced">You Paid {{task.assignedTo}}!</button>
				</ion-item>
				<ion-item class="item-divider" ng-show="expiredTasks.length !== 0">
			  		<p>Expired</p>
				</ion-item>
				<ion-item ng-repeat="task in expiredTasks">
					<div class="requestHeader">
						<h2>{{task.title}}</h2>
						<p>{{task.description}}</p>
					</div>
					<div class="requestTotal">
						<h3>Requests</h3>
						<p>{{task.requestedBy.length}}</p>
					</div>
					<button class="button button-block button-small button-balanced button-outline" ui-sref="tabs.repost({taskID: task._id})">Repost This Favor!</button>
				</ion-item>
			</ion-list>




		</ion-list>
	</ion-content>
</ion-view>
