<ion-view view-title="Your Posts">
	<ion-content>
			<ion-list>
				<ion-item class="noBorder" ng-show="paid.length === 0 && tasks.length === 0">
					<p>You haven't posted any favors!</p>
				</ion-item>
				<ion-item class="item-divider" ng-show="tasks.length !== 0">
			  		<p>Pending</p>
				</ion-item>
				<ion-item ng-repeat="task in tasks">
					<div class="requestHeader">
						<h2>{{task.title}}</h2>
						<p>{{task.description}}</p>
					</div>
					<div class="requestTotal" ng-show="!taskAssigned(task)">
						<h3>Requests</h3>
						<p>{{task.requestedBy.length}}</p>
					</div>
					<div class="requestTotal" ng-show="taskAssigned(task)">
						<button class="button button-balanced button-outline icon ion-ios-chatboxes-outline" ui-sref="easy.messages({taskID: task._id})"></button><span ng-show="task.newMessages !== 0" id="messageIcon" class="badge badge-assertive">{{task.newMessages}}</span>
					</div>
					<button ui-sref="easy.requesters({taskID: task._id})" class="button button-block button-balanced button-outline" ng-show="!taskAccepted(task)">Assign Favor</button>
					<div class="assignedTo">
						<h3 ng-show="taskAccepted(task)">Assigned To: {{task.assignedTo}}</h3>
						<h3 ng-show="!completed(task) && taskAccepted(task)">Waiting for Favor to be completed!</h3>
					</div>
					<button class="button button-block button-balanced button-outline" ui-sref="easy.pay({taskID: task._id})" ng-show="completed(task)">Pay & Review</button>
				</ion-item>
				<ion-item class="item-divider" ng-show="paid.length !== 0">
			  		<p>Completed</p>
				</ion-item>
				<ion-item ng-repeat="task in paid">
					<div class="requestHeader">
						<h2>{{task.title}}</h2>
						<p>{{task.description}}</p>
					</div>
					<div class="requestTotal">
						<h3>Requests</h3>
						<p>{{task.requestedBy.length}}</p>
					</div>
					<button class="button button-block button-balanced">You Paid {{task.assignedTo}}!</button>
				</ion-item>
				<ion-item class="item-divider" ng-show="expiredTasks.length !== 0">
			  		<p>Expired</p>
				</ion-item>
				<ion-item ng-repeat="task in expiredTasks">
					<div class="requestHeader">
						<h2>{{task.title}}</h2>
						<p>{{task.description}}</p>
					</div>
					<div class="requestTotal">
						<h3>Requests</h3>
						<p>{{task.requestedBy.length}}</p>
					</div>
					<button class="button button-block button-balanced button-outline" ui-sref="easy.repost({taskID: task._id})">Repost This Favor!</button>
				</ion-item>
			</ion-list>
	</ion-content>
</ion-view>