<ion-view view-title="My Profile Settings">
	<ion-content>
		<div class="list">
	  		<div class="item item-divider">
		  		<p>My Profile Shows..</p>
			</div>
			<div class="item item-toggle">
				My Name
	  			<label class="toggle toggle-balanced">
	  			<input type="checkbox" ng-model="settings.myProfile.showName">
	  				<div class="track">
	  					<div class="handle"></div>
	  				</div>
	  			</label>
	  		</div>
			<div class="item item-toggle">
				Closed Requests
	  			<label class="toggle toggle-balanced">
	  			<input type="checkbox" ng-model="settings.myProfile.closed">
	  				<div class="track">
	  					<div class="handle"></div>
	  				</div>
	  			</label>
	  		</div>
	  		<div class="item item-toggle">
				Expired Requests
	  			<label class="toggle toggle-balanced">
	  			<input type="checkbox" ng-model="settings.myProfile.expired">
	  				<div class="track">
	  					<div class="handle"></div>
	  				</div>
	  			</label>
	  		</div>
		</div>
	</ion-content>
</ion-view>