<ion-view view-title="{{user.username}}">
	<ion-nav-bar class="bar-balanced">
      <ion-nav-back-button class="button-clear">
        <i class="ion-chevron-left"></i> Back
      </ion-nav-back-button>
    </ion-nav-bar>
	<ion-content>
		<ion-list type="item-text-wrap">
			<ion-item class="item-avatar lessPaddingBottom noBorder">
		        <img id="bigAv" ng-src="{{user.avatar}}">
		        <div class="profileHeader">
			        <div class="trust">
						<p id="grayedOut">Assigned</p>
						<p id="center">{{user.requestsAccepted.length}}</p>
					</div>
					<div class="trust">
						<p id="grayedOut">Posted</p>
						<p id="center">{{user.tasksPosted.length}}</p>
					</div>
			        <div class="trust" ui-sref="tabs.trustedByFF({user: user.username})">
						<p id="grayedOut">Trusted</p>
						<p id="center">{{user.trustedBy.length}}</p>
					</div>
					<div class="trust" ui-sref="tabs.trustsFF({user: user.username})">
						<p id="grayedOut">Trusts</p>
						<p id="center">{{user.trusts.length}}</p>
					</div>
				</div>
		    </ion-item>
		    <ion-item class="noBorder" ng-show="user.settings.myProfile.showName">
		    	<div class="profileName">
					<h2>{{user.first}} {{user.last}}</h2>
				</div>
				<button class="button button-balanced button-small profileRight" ng-class="{'button-outline': !trusted}" ng-click="trust(user)" ng-show="user.username !== loggedIn.username">{{trustButton()}}</button>
			</ion-item>
			<ion-item class="tabs-secondary tabs item-icon-left tabs-balanced noBorder">
				<a class="tab-item" ng-click="setTab('profile')" ng-class="{'active': showing === 'profile'}">Profile</a><a ng-click="setTab('reviews')" class="tab-item" ng-class="{'active': showing === 'reviews'}">Reviews</a><a ng-click="setTab('favors')" class="tab-item" ng-class="{'active': showing === 'favors'}">Posts</a>
			</ion-item>
			<ion-list ng-show="showingTab('profile')">
				<ion-item class="item-divider" ng-show="user.bio">
			  		<p>Bio</p>
				</ion-item>
				<ion-item class="item-text-wrap" ng-show="user.bio">
					<p>{{user.bio}}</p>
				</ion-item>
				<ion-item class="item-divider">
			  		<p>Ratings By Category</p>
				</ion-item>
				<ion-item class="noBorder">
					<p>Overall</p>
					<div star-rating rating-value="rating"></div>
				</ion-item>
				<ion-item class="noBorder">
					<p>Yard Work</p>
					<div star-rating rating-value="yardWorkRating"></div>
				</ion-item>
				<ion-item class="noBorder">
					<p>Labor</p>
					<div star-rating rating-value="laborRating"></div>
				</ion-item>
				<ion-item class="noBorder">
					<p>Pet Care</p>
					<div star-rating rating-value="petCareRating"></div>
				</ion-item>
				<ion-item class="noBorder">
					<p>House Work / Chores</p>
					<div star-rating rating-value="houseWorkRating"></div>
				</ion-item>
				<ion-item class="noBorder">
					<p>Delivery</p>
					<div star-rating rating-value="deliveryRating"></div>
				</ion-item>
				<ion-item class="noBorder">
					<p>Moving / Taxi</p>
					<div star-rating rating-value="movingRating"></div>
				</ion-item>
			</ion-list>
			<ion-list ng-show="showingTab('reviews')">
				<ion-item class="noBorder item-text-wrap" ng-show="reviews.length === 0">
					<p>{{user.username}} doesn't have any reviews!</p>
				</ion-item>
				</ion-item>
				<ion-item ng-repeat="review in reviews">
					<h2 class="reviewLeft">{{review.category}}</h2>
					<p class="reviewRight" ui-sref="tabs.taskDetailFF({taskID: review.taskID})">Favor Description <i class="icon ion-ios-arrow-right"></i></p>
					<div star-rating rating-value="review.rating"></div>
					<p>{{review.review}}</p>
				</ion-item>
			</ion-list>
			<ion-list ng-show="showingTab('favors')">
				<ion-item class="noBorder item-text-wrap" ng-show="openTasks.length === 0">
					<p>{{user.username}} doesn't have any favors!</p>
				</ion-item>
				<ion-list>
					<ion-item ng-repeat="task in openTasks" ui-sref="tabs.taskDetailFF({taskID: task._id})">
						<div class="requestHeader">
							<h2>{{task.title}}</h2>
							<p>{{task.description}}</p>
						</div>
						<div class="requestTotal">
							<h3>Requests</h3>
							<p>{{task.requestedBy.length}}</p>
						</div>
						<h3 ng-show="expiredTask(task)">Expired</h3>
						<h3 ng-show="!expiredTask(task)">Posted Until {{task.expiresDate | date: 'MMM d, y h:mm a'}}</h3>
					</ion-item>
				</ion-list>
			</ion-list>
		</ion-list>
	</ion-content>
</ion-view>