/* Select: #6496C8; */
/* Regular: #27496c; */

.scroll {
	height: 100%;
}
#map {
	width: 120%;
	height: 100%;
}
i.largeIcon {
	font-size: 120px;
	margin-left: calc(26%);
	color: #27496c;
}
.noBorder {
	border: none;
}
.login {
	border: 1px solid #C3C3C3;
	margin: 15px 0;
}
h2 {
	color: #C3C3C3;
}
h1 {
	text-align: center;
	color: #27496c;
}
.gradient {
	background: linear-gradient(135deg, #27496c 0%, #95c95a 100%) !important;
}
.hoverable:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.hoverable2:hover {
	box-shadow: 0px 40px 70px -4px rgba(0, 0, 0, 0.6);
}
.button-outline,
.button-block {
	border-color: #27496c !important;
	border-width: 2px;
	font-weight: bold;
}
.button-block {
	transition: 0.1s all ease-in;
	background-color: #27496c !important;
	color: white !important;
	box-shadow: 0px 6px 0px 0px #1d3853;
}
.button-block:active {
	/*margin-top: 6px !important;*/
	transform: translate3d(0px ,6px, 0) !important;
	background-color: #27496c !important;
	color: white !important;
	box-shadow: 0px 0px 0px 0px #1d3853;
}
.button-outline {
	color: #27496c !important;
	background-color: transparent !important;
}
.button-outline.white {
	border: 2px solid #27496c !important;
	color: #27496c !important;
}
.item-input {
	padding-left: 6px;
	transition: all cubic-beizer(0, 0, 0.3, 1) 0.3s;
}
.item-input input {
	padding-left: 10px !important;
	font-weight: bold;
}
.tab-item {
	box-shadow:none;
	transition:all 0.2s ease-in-out;
}
.tab-item-active, #sec-custom .tab-item.active {
	opacity: 1;
	border: none;
	padding-top: 5px;
	color: white !important;
	opacity: 1 !important;
	background-color: #6496C8 !important;
	height: 110%;
	transform: translateY(-10px);
	border-bottom: none !important;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.tab-item {
	opacity: 0.4;
}
.tabs{
	background-color: #27496c !important;
	padding:0px !important;
	border-bottom:0px !important;
	border-color: white !important;
}



#sec-custom .tab-item.active{
	padding-top:0px;
	padding-bottom:6px;
}
.tab-title{
	font-weight:bold;
}

@media screen and (min-width: 480px) {
	body {
		background-color: #6496C8;
	}
}
ion-header-bar{
	/*background: linear-gradient(90deg, #27496c 0%, #6496C8 100%) !important;*/
	background: #27496c !important;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}
.card, .list-inset {
	margin: 0px !important;
}


ion-content:not(.map){
	background-image: url("../img/bg_dotted.gif");
}
